body {
  margin: 0;
  background-color: #f4f6f9;
  font-family: Arial, sans-serif;
}

.home-navbar {
  text-align: right;
  background-color: #1e3a5f;
  padding: 15px;
}


.home-content {
  text-align: center;
  margin-top: 120px;
}

.home-title {
  color: #1e3a5f;
}

.home-btn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.home-btn:hover {
  background-color: #2980b9;
}
.button-group {
  display: flex;
  gap: 40px;
  margin-top: 15px;
}